body {
	background-color: #F6F6F6;
}

#navbar { background: #191919 url() repeat-x 50% 100%; color: #828282; display: block; height: 40px; position: relative; z-index: 2; }
#navbar hr { display: none; }
#navbar ul { list-style: none; margin: 0px; }
#navbar li { display: block; float: left; font-size: 10px; padding: 0px; position: relative; }
#navbar a { border: 0; color: #7D7D7D; display: block; line-height: 40px; padding: 0px 20px; text-decoration: none; text-transform: uppercase; white-space: nowrap; }
#navbar a:hover { color: #FFF; }
#navbar .services { float: left; }
#navbar .options { float: right; }

#container { margin: 0px auto; max-width: 1280px; min-width: 968px; padding: 0px 18px; }

#footer { clear:both; margin:18px 0px; padding:0px 0px 18px; text-align:left; color: #B4B4B4; }